#root {
  width: 100vw;
  min-height: calc(100vh - 4rem);

  padding: 2rem;
  background-color: rgb(229, 234, 227)
}

#content {
  display: flex;
  flex-direction: row;
  gap:10px;
  justify-content: center;
}

#command_buttons {
  display: flex;
  flex-direction: row;
  gap:10px;
  margin:10px;
}

.container {
  border: 10px brown ridge;
  background-color: rgb(197, 234, 184);
  padding:20px; 
  margin-bottom:20px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

caption {
  font-size: 32px;
  text-align:left;
  font-weight:bold;
}

table {
  background-color: rgb(197, 234, 184);
  text-align: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  border: 8px brown ridge;
  border-collapse: collapse;
}

label {
  text-align: right;
  display:block;
}

thead {
  font-weight:bold;
}

th {
  width: 200px;
  max-width: 80vw;
  border-bottom: 8px brown ridge;
  padding:4px;
}

td {
  border-bottom: 2px brown solid;
  padding:4px;
}